[Desktop Entry]
Type=Application
Name=Obsidian
Comment=Obsidian
Icon=/opt/appimages/obsidian.png
Exec=/opt/appimages/Obsidian-0.15.9.AppImage
Terminal=false
Catagories=Notes
